@{
    ViewBag.Title = "Forum Page";
}

<body class="striped-background">

    <aside class="left-part">
        <button class="question-button">+New Question</button>
        <h1 style="text-align: center">Tags</h1>
        <ul class="tags">
            <li><a href="#">Tag1</a></li>
            <li><a href="#">Tag2</a></li>
            <li><a href="#">Tag3</a></li>
            <li><a href="#">Tag4</a></li>
            <li><a href="#">Tag5</a></li>
        </ul>
    </aside>

    <main class="right-part">
        <h1 class="forum-title">Forum</h1>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
        <div class="table-padding">
            <table class="forum-table">
                <tr>
                    <th colspan="2" style="text-align: center">Title</th>
                </tr>
                <tr>
                    <td>Bill Gates</td>
                    <td>55577854</td>
                </tr>
            </table>
        </div>
    </main>

</body>