
<html>
<body background="~/background/about.jpg">
    <h2 class="about-titles">What is Pokemon Go?</h2>
<div class="about-contents">
    <img src="~/background/pokemongophoto.jpg" style="float: left; width: 110px; height: 100px; border-radius: 30px; padding-right: 10px" />
    Pokémon Go is a free-to-play, location-based augmented reality game developed by Niantic for iOS and Android devices.
    It was initially released in selected countries in July 2016. In the game, players use a mobile device's GPS capability to locate, capture, battle, and train virtual creatures, called Pokémon, who appear on the screen as if they were in the same real-world location as the player.
    The game supports in-app purchases for additional in-game items.
    Pokémon Go was released to mixed reviews, with critics praising the game's concept and the incentive to be more active in the real world, while criticizing frequent technical issues apparent at launch.
    Despite such reviews, it quickly became a global phenomenon and was one of the most used mobile apps, having been downloaded by more than 130 million people worldwide.
    It was also credited with helping local business grow.
    However, it has attracted controversy for contributing to accidents and becoming a public nuisance at some locations.
    Multiple governments expressed concerns over the game's security, with legislation regarding it being passed in some countries as a result.
</div>
    <h2 class="about-titles">How to play?</h2>
<div class="about-contents">
    <img src="~/background/capturinggif.gif" style="float: right; width: 120px; height: 180px; margin-right: 20px" />
    After establishing a game account, the player creates an avatar by selecting a hair, skin, and eye color, style and outfit.
    Once created, the avatar is displayed on a map using the player's current geographical location.
    Features on the map include PokéStops and Pokémon gyms.
    PokéStops provide players with items, such as eggs, Poké Balls, and potions and can be equipped with items called lure modules, which attract wild Pokémon.
    Gyms serve as battle locations for team-based king of the hill matches.
    PokéStops and gyms are typically located at places of interest.
    These locations are re-purposed portals from Ingress, Niantic's previous augmented reality game.
    As players move within their real world surroundings, their avatar moves within the game's map.
    Different Pokémon species reside in different areas of the world, for example, water-type Pokémon are generally found near water.
    When a player encounters a Pokémon, they may view it either in augmented reality (AR) mode or with a live rendered, generic background.
    AR mode uses the camera and gyroscope on the player's mobile device to display an image of a Pokémon as though it were in the real world.
    Players can take screen shots of the Pokémon they encounter either with or without the AR mode activated.
    During an encounter with a wild Pokémon, the player may throw a Poké Ball at it by flicking it from the bottom of the screen up toward the Pokémon.
    If the Pokémon is successfully caught, it will come under the ownership of the player.
    Factors in the success rate of capture include the right force, the right time and the type of Poké Ball used.
    After capturing a wild Pokémon, the player is awarded two types of in-game currencies: candies and stardust.
    The candies awarded by a successful catch depend on what evolutionary chain a Pokémon belongs to.
    A player can use stardust and candies to raise a Pokémon's "combat power" (CP).
    However, only candies are needed to evolve a Pokémon.
    Each Pokémon evolution tree has its own type of candy, which can only be used to evolve or level up.
    The player can also transfer the Pokémon back to the Pokémon professor to earn one more candy and create room for more Pokémon.
    The ultimate goal of the game is to complete the entries in the Pokédex, a comprehensive Pokémon encyclopedia, by capturing and evolving to obtain the original 151 Pokémon.
</div>
    <h2 class="about-titles">Simple example</h2>

</body>
</html>