@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>
<html>
<body background="~/background/about.jpg">
</body>
<footer class="fotter" style="padding-top: 30px; position: absolute">
    <hr />
    <p>
        &copy;@DateTime.Now.Year Niantic, Inc.
        &copy;@DateTime.Now.Year Pokémon.
        &copy;1995–@DateTime.Now.Year Nintendo / Creatures Inc. / GAME FREAK inc.
    </p>
</footer>
</html>