@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>
<html>
<body background="~/background/about.jpg">
<div style="text-align: center; color: white;">
    <figure id="images">
        <img src="~/pokedex/005.jpg" scale="0" width="200" height="200"><br>#005<br><span style="font-size: 20pt;">Charmeleon</span>
        <div class="abilities">
            <span class="pill background-color-fire">Fire</span>
        </div>
    </figure>
    <figure id="images">
        <img src="~/pokedex/006.jpg" scale="0" width="200" height="200"><br>#006<br><span style="font-size: 20pt;">Charizard</span>
        <div class="abilities">
            <span class="pill background-color-fire">Fire</span>
        </div>
        <div class="abilities">
            <span class="pill background-color-flying">Flying</span>
        </div>
    </figure>
</div>
    <div style="text-align: center; color: white">
        <figure id="images">
            <img src="~/pokedex/005.jpg" scale="0" width="200" height="200"><br>#005<br><span style="font-size: 20pt;">Charmeleon</span>
            <div class="abilities">
                <span class="pill background-color-fire">Fire</span>
            </div>
        </figure>
        <figure id="images">
            <img src="~/pokedex/006.jpg" scale="0" width="200" height="200"><br>#006<br><span style="font-size: 20pt;">Charizard</span>
            <div class="abilities">
                <span class="pill background-color-fire">Fire</span>
            </div>
            <div class="abilities">
                <span class="pill background-color-flying">Flying</span>
            </div>
        </figure>
    </div>
</body>
</html>