<!DOCTYPE html>
<html>
<body background="~/background/about.jpg">
    <h2>Contact Form</h2>

    <form class="form" style="float: left">

        <p class="name">
            <input type="text" name="name" id="name" placeholder="John Doe" />
            <label for="name" style="color: white">Name</label>
        </p>

        <p class="email">
            <input type="text" name="email" id="email" placeholder="mail@example.com" />
            <label for="email" style="color: white">Email</label>
        </p>

        <p class="text">
            <textarea name="text" placeholder="Write something to us"></textarea>
        </p>

        <p class="submit">
            <input type="submit" value="Send" />
        </p>
    </form>
    <p style="float: right; padding-right: 60%">
        <a href="https://bg-bg.facebook.com/PokemonGO/" target="_blank">
            <img src="~/background/facebook.png" />
        </a>
        <br />
        <a href="https://twitter.com/pokemongonews" target="_blank">
            <img src="~/background/twitter.png" />
        </a>
        <br />
        <a href="https://www.youtube.com/channel/UCFctpiB_Hnlk3ejWfHqSm6Q" target="_blank">
            <img src="~/background/youtube.png" />
        </a>
    </p>
</body>
</html>