@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>
<html>
<body background="~/background/about.jpg">
    <p>
        <a href="https://bg-bg.facebook.com/PokemonGO/" target="_blank">
            <img src="~/background/facebook.png" />
        </a>
        <a href="https://twitter.com/pokemongonews" target="_blank">
            <img src="~/background/twitter.png" />
        </a>
        <a href="https://www.youtube.com/channel/UCFctpiB_Hnlk3ejWfHqSm6Q" target="_blank">
            <img src="~/background/youtube.png" />
        </a>
    </p>
</body>
