@{
    ViewBag.Title = "Pokedex Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body background="~/background/back.jpg">
</body>
</html>
