@{
    ViewBag.Title = "Pokedex Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body background="~/background/back.jpg">
</body>
<footer class="fotter" style="padding-top: 30px; position: absolute">
    <hr />
    <p>
        &copy;@DateTime.Now.Year Niantic, Inc.
        &copy;@DateTime.Now.Year Pokémon.
        &copy;1995–@DateTime.Now.Year Nintendo / Creatures Inc. / GAME FREAK inc.
    </p>
</footer>
</html>
