@{
    ViewBag.Title = "Home Page";
}
<video id="bgvid" playsinline autoplay muted loop>
    <source src="~/Videos/pokemongo.mp4" type="video/mp4"/>
</video>
<aside style="position: fixed; top: 20%; padding-right: 10px">
    <div id="homeControler">
        <h2>Get Up, Get Out, and Explore!</h2>
        <p class="desc">
            Get on your feet and step outside to find and catch wild Pokémon.
            Explore cities and towns where you live—and even around the globe—to capture as many Pokémon as you can.
            As you walk through the real world, your smartphone will vibrate to let you know you're near a Pokémon.
        </p>
        <hr /> 
        <p class="warn">
            For safety's sake, never play Pokémon GO when you're on your bike, driving a car, riding a hoverboard,
            or anything else where you should be paying attention, and of course never wander away from your
            parents or your group to catch a Pokémon.
        </p>
        <button>Pause</button>
    </div>
    <div>
        <div class="home-structure">
            <h2>Get</h2>
            <hr />
            <p class="desc">
                Get on your feet and step outside to find and catch wild Pokémon.
            </p>
            <p class="warn">
                For safety's sake, never play Pokémon GO
            </p>
        </div>
        <div class="home-structure">
            <h2>Get</h2>
            <hr />
            <p class="desc">
                Get on your feet and step outside to find and catch wild Pokémon.
            </p>
            <p class="warn">
                For safety's sake, never play Pokémon GO
            </p>
        </div>
    </div>
    <div style="padding-top: 50px">
        <div class="home-structure">
            <h2>Get</h2>
            <hr />
            <p class="desc">
                Get on your feet and step outside to find and catch wild Pokémon.
            </p>
            <p class="warn">
                For safety's sake, never play Pokémon GO
            </p>
        </div>
        <div class="home-structure">
            <h2>Get</h2>
            <hr />
            <p class="desc">
                Get on your feet and step outside to find and catch wild Pokémon.
            </p>
            <p class="warn">
                For safety's sake, never play Pokémon GO
            </p>
        </div>
    </div>
    <div style="padding-top: 50px">
        <div class="home-structure">
            <h2>Get</h2>
            <hr />
            <p class="desc">
                Get on your feet and step outside to find and catch wild Pokémon.
            </p>
            <p class="warn">
                For safety's sake, never play Pokémon GO
            </p>
        </div>
        <div id="home-structure">
            <h2>Get</h2>
            <hr />
            <p class="desc">
                Get on your feet and step outside to find and catch wild Pokémon.
            </p>
            <p class="warn">
                For safety's sake, never play Pokémon GO
            </p>
        </div>
    </div>
</aside>