@{
    ViewBag.Title = "News Page";
}
@*<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<<<<<<< HEAD
<body background="~/background/back.jpg">
    <div class="news">
        <div class="news-heading">
            News 1 ....??
=======
<body>*@
    <div background="~/background/back.jpg">
        <div>
            <div id="home-structure">
                <h2>Get</h2>
                <hr />
                <p class="desc">
                    Get on your feet and step outside to find and catch wild Pokémon.
                </p>
                <p class="warn">
                    For safety's sake, never play Pokémon GO
                </p>
            </div>
            <div id="home-structure">
                <h2>Get</h2>
                <hr />
                <p class="desc">
                    Get on your feet and step outside to find and catch wild Pokémon.
                </p>
                <p class="warn">
                    For safety's sake, never play Pokémon GO
                </p>
            </div>
>>>>>>> 352fe91d511eaeab9c8d7526c642d09d22c5f5de
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <div class="news">
        <div class="news-heading">
            News 2 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <br />
    <div class="news">
        <div class="news-heading">
            News 2 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <div class="news">
        <div class="news-heading">
            News 3 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
@*</body>
</html>*@
