@{
    ViewBag.Title = "News Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body background="~/background/back.jpg">
    <div class="news">
        <div class="news-heading">
            News 1 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <div class="news">
        <div class="news-heading">
            News 2 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <br />
    <div class="news">
        <div class="news-heading">
            News 2 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <div class="news">
        <div class="news-heading">
            News 3 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <footer class="fotter" style="padding-top: 30px">
        <hr />
        <p>
            &copy;@DateTime.Now.Year Niantic, Inc.
            &copy;@DateTime.Now.Year Pokémon.
            &copy;1995–@DateTime.Now.Year Nintendo / Creatures Inc. / GAME FREAK inc.
        </p>
    </footer>
</body>
</html>
