@{
    ViewBag.Title = "News Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body background="~/background/back.jpg">
    <div>
        <div>
            <div id="home-structure">
                <h2>Get</h2>
                <hr />
                <p class="desc">
                    Get on your feet and step outside to find and catch wild Pokémon.
                </p>
                <p class="warn">
                    For safety's sake, never play Pokémon GO
                </p>
            </div>
            <div id="home-structure">
                <h2>Get</h2>
                <hr />
                <p class="desc">
                    Get on your feet and step outside to find and catch wild Pokémon.
                </p>
                <p class="warn">
                    For safety's sake, never play Pokémon GO
                </p>
            </div>
        </div>
        <div style="padding-top: 50px">
            <div id="home-structure">
                <h2>Get</h2>
                <hr />
                <p class="desc">
                    Get on your feet and step outside to find and catch wild Pokémon.
                </p>
                <p class="warn">
                    For safety's sake, never play Pokémon GO
                </p>
            </div>
            <div id="home-structure">
                <h2>Get</h2>
                <hr />
                <p class="desc">
                    Get on your feet and step outside to find and catch wild Pokémon.
                </p>
                <p class="warn">
                    For safety's sake, never play Pokémon GO
                </p>
            </div>
        </div>
    </div>
    <footer class="fotter" style="padding-top: 30px">
        <hr />
        <p>
            &copy;@DateTime.Now.Year Niantic, Inc.
            &copy;@DateTime.Now.Year Pokémon.
            &copy;1995–@DateTime.Now.Year Nintendo / Creatures Inc. / GAME FREAK inc.
        </p>
    </footer>
</body>
</html>
