@{
    ViewBag.Title = "News Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body background="~/background/back.jpg">
    <div class="news">
        <div class="news-heading">
            News 1 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <div class="news">
        <div class="news-heading">
            News 2 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <br />
    <div class="news">
        <div class="news-heading">
            News 2 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <div class="news">
        <div class="news-heading">
            News 3 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <br />
    <div class="news">
        <div class="news-heading">
            News 2 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
    <div class="news">
        <div class="news-heading">
            News 3 ....??
        </div>
        <hr />
        <div class="news-content">
            Some Text Here....
        </div>
    </div>
</body>
</html>