@{
    ViewBag.Title = "Pokedex Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <video id="bgvid" playsinline autoplay muted loop>
        <source src="~/Videos/pokemongo.mp4" type="video/mp4" />
    </video>
</body>
</html>
