@{
    ViewBag.Title = "Pokedex Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body background="~/background/back.jpg">
    <br />
    <div id="images" style="text-align: center; color: white">
        <figure>
            <img src="~/pokedex/001.jpg" scale="0" width="200" height="200"><br>#001<br><span style="font-size: 20pt;">Bulbasaur</span>
            <div class="abilities">
                <span class="pill background-color-grass">Grass</span>
            </div>
            <div class="abilities">
                <span class="pill background-color-poison">Poison</span>
            </div>
        </figure>
        <figure>
            <img src="~/pokedex/002.jpg" scale="0" width="200" height="200"><br>#002<br><span style="font-size: 20pt;">Ivysaur</span>
            <div class="abilities">
                <span class="pill background-color-grass">Grass</span>
            </div>
            <div class="abilities">
                <span class="pill background-color-poison">Poison</span>
            </div>
        </figure>
        <figure>
            <img src="~/pokedex/003.jpg" scale="0" width="200" height="200"><br>#003<br><span style="font-size: 20pt;">Venusaur</span>
            <div class="abilities">
                <span class="pill background-color-grass">Grass</span>
            </div>
            <div class="abilities">
                <span class="pill background-color-poison">Poison</span>
            </div>
        </figure>
        <figure>
            <img src="~/pokedex/004.jpg" scale="0" width="200" height="200"><br>#004<br><span style="font-size: 20pt;">Charmander</span>
            <div class="abilities">
                <span class="pill background-color-fire">Fire</span>
            </div>
        </figure>
    </div>
    <br />
    <div id="images" style="text-align: center; color: white">
        <figure>
            <img src="~/pokedex/005.jpg" scale="0" width="200" height="200"><br>#005<br><span style="font-size: 20pt;">Charmeleon</span>
            <div class="abilities">
                <span class="pill background-color-fire">Fire</span>
            </div>
        </figure>
        <figure>
            <img src="~/pokedex/006.jpg" scale="0" width="200" height="200"><br>#006<br><span style="font-size: 20pt;">Charizard</span>
            <div class="abilities">
                <span class="pill background-color-fire">Fire</span>
            </div>
            <div class="abilities">
                <span class="pill background-color-flying">Flying</span>
            </div>
        </figure>
    </div>
    <br />
</body>
</html>